<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="favorit.ejs">Favorite Jokes</a>
        <a href="random.ejs">random Joke</a>
    </header>
    <div>
        <%data.forEach(data=>{%>
            <h2><%=data.type%></h2>
            <h5><%=data.setup%></h5>
            <h6><%=data.punchline%></h6>
    <a href="/details/<%=data.id%>"><button>view details</button></a>
    <%})%>
</div>
</body>
</html>